# Copie este arquivo para .env.local e preencha com suas credenciais

# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=sua_url_do_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima_do_supabase

# Configurações do Hallo API
NEXT_PUBLIC_HALLO_API_URL=https://app.hallo-api.com/v1
NEXT_PUBLIC_HALLO_API_KEY=GQAL5UGT-F2xd-XTzJ-QfyH-WDGH3S92HEW5
NEXT_PUBLIC_HALLO_INSTANCE=OW6N-000969-716u-6c5t-1MOEXNWKYXSO 